body{
  background:#0b0f1a;
  color:#fff;
  font-family: 'Segoe UI', sans-serif;
}

/* HERO */
.hero3d{
  background: radial-gradient(circle at top,#6a11cb,#000);
  padding:100px 0;
}

.hero3d h1{
  font-size:3.2rem;
  font-weight:800;
}

.btn-glow{
  background:linear-gradient(45deg,#ffcc00,#ff6600);
  padding:14px 30px;
  border-radius:30px;
  color:#000;
  font-weight:700;
  box-shadow:0 0 20px #ff9900;
  text-decoration:none;
}

.profile-3d{
  width:200px;
  height:200px;
  border-radius:50%;
  border:6px solid #fff;
  box-shadow:0 20px 50px rgba(0,0,0,.7);
}

/* SECTION */
.section{padding:80px 0;}
.dark{background:#050814;}

.title{font-weight:800;}
.neon{color:#00f7ff;text-shadow:0 0 20px #00f7ff;}

.desc{max-width:800px;margin:auto;color:#bbb}

/* SKILL GRAPH */
.skill-bar{margin:20px 0}
.skill-bar span{font-weight:600}
.bar{
  background:#222;
  height:14px;
  border-radius:20px;
  overflow:hidden;
}
.bar div{
  height:100%;
  background:linear-gradient(90deg,#00f7ff,#6a11cb);
  box-shadow:0 0 15px #00f7ff;
}

/* 3D CARD */
.card3d{
  background:linear-gradient(145deg,#0f172a,#020617);
  padding:30px;
  border-radius:20px;
  box-shadow:15px 15px 40px #000,-10px -10px 30px #111;
  transition:.4s;
}

.card3d:hover{
  transform:translateY(-15px) rotateX(5deg);
  box-shadow:0 25px 60px #000;
}

/* CONTACT */
.contact3d{
  background:linear-gradient(135deg,#6a11cb,#000);
}

/* FOOTER */
.footer3d{
  background:#000;
  text-align:center;
  padding:15px;
}
